#!/usr/bin/env bash
# Общие переменные для всех скриптов в этой папке. Отредактируйте под себя
# перед первым запуском (имена ресурсов должны быть уникальны в рамках облака/папки).
export YC_ZONE="ru-central1-b"

export YC_NETWORK_NAME="php-helloworld-network"
export YC_SUBNET_NAME="php-helloworld-subnet-b"

export YC_SA_NAME="php-helloworld-k8s-sa"

export YC_REGISTRY_NAME="php-helloworld-registry"

export YC_CLUSTER_NAME="php-helloworld-cluster"
export YC_NODE_GROUP_NAME="php-helloworld-nodes"
export YC_NODE_COUNT=3
export YC_KUBECTL_CONTEXT="yc-php-helloworld"

export IMAGE_NAME="php-helloworld"
export IMAGE_TAG="latest"
